Repository openstack/manila: changes, and which Zuul jobs are due for each by the changed paths.
All: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

Path conditions:
  manila-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-container-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-no-share-servers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-mysql-generic: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-container: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-generic-singlebackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-zfsonlinux: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-scenario: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-dummy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-lvm-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-multibackend: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  manila-rally-multibackend-no-ss: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$

[tests] Fix PYTHON3_VERSION
  contrib/ci/pre_test_hook.sh
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

NetApp cDOT driver switch volume efficiency
  manila/share/drivers/netapp/dataontap/client/client_cmode.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode.py
  releasenotes/notes/netapp-cdot-switch-volume-efficiency-bd22733445d146f0.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

[grenade] Switch base version
  devstack/upgrade/settings
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

Fix misuse of assertFalse
  manila/tests/share/drivers/hdfs/test_hdfs_native.py
Due: none

Only allow IP access type for CephFS NFS
  manila/share/drivers/ganesha/__init__.py
  manila/share/drivers/ganesha/utils.py
  manila/tests/db/fakes.py
  manila/tests/share/drivers/test_ganesha.py
  releasenotes/notes/bug-1816420-validate-access-type-for-ganehas-c42ce6f859fa0c8c.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

[api-ref] Replace "tenant" terminology with "project"
  api-ref/source/availability-zones.inc
  api-ref/source/extensions.inc
  api-ref/source/limits.inc
  api-ref/source/os-share-manage.inc
  api-ref/source/parameters.yaml
  api-ref/source/quota-classes.inc
  api-ref/source/quota-sets.inc
  api-ref/source/scheduler-stats.inc
  api-ref/source/security-services.inc
  api-ref/source/services.inc
  api-ref/source/share-access-rule-metadata.inc
  api-ref/source/share-access-rules.inc
  api-ref/source/share-actions.inc
  api-ref/source/share-export-locations.inc
  api-ref/source/share-group-snapshots.inc
  api-ref/source/share-group-types.inc
  api-ref/source/share-groups.inc
  api-ref/source/share-instance-export-locations.inc
  api-ref/source/share-instances.inc
  api-ref/source/share-metadata.inc
  api-ref/source/share-migration.inc
  api-ref/source/share-networks.inc
  api-ref/source/share-replica-export-locations.inc
  api-ref/source/share-replicas.inc
  api-ref/source/share-servers.inc
  api-ref/source/share-types.inc
  api-ref/source/shares.inc
  api-ref/source/snapshot-instances.inc
  api-ref/source/snapshots.inc
  api-ref/source/user-messages.inc
Due: none

[api-ref] De-duplicate date and time parameters
  api-ref/source/availability-zones.inc
  api-ref/source/extensions.inc
  api-ref/source/os-share-manage.inc
  api-ref/source/parameters.yaml
  api-ref/source/security-services.inc
  api-ref/source/services.inc
  api-ref/source/share-access-rules.inc
  api-ref/source/share-actions.inc
  api-ref/source/share-export-locations.inc
  api-ref/source/share-group-snapshots.inc
  api-ref/source/share-groups.inc
  api-ref/source/share-instance-export-locations.inc
  api-ref/source/share-instances.inc
  api-ref/source/share-networks.inc
  api-ref/source/share-replica-export-locations.inc
  api-ref/source/share-replicas.inc
  api-ref/source/share-servers.inc
  api-ref/source/shares.inc
  api-ref/source/snapshot-instances.inc
  api-ref/source/snapshots.inc
Due: none

[api-ref] De-duplicate name and description parameters
  api-ref/source/os-share-manage.inc
  api-ref/source/parameters.yaml
  api-ref/source/security-services.inc
  api-ref/source/share-group-snapshots.inc
  api-ref/source/share-group-types.inc
  api-ref/source/share-groups.inc
  api-ref/source/share-networks.inc
  api-ref/source/share-types.inc
  api-ref/source/shares.inc
  api-ref/source/snapshots.inc
Due: none

[api-ref] Delete unused parameters
  api-ref/source/parameters.yaml
  api-ref/source/share-groups.inc
Due: none

The parameters of 'list shares' are optional
  api-ref/source/os-share-manage.inc
  api-ref/source/parameters.yaml
  api-ref/source/security-services.inc
  api-ref/source/share-group-snapshots.inc
  api-ref/source/share-groups.inc
  api-ref/source/share-networks.inc
  api-ref/source/shares.inc
  api-ref/source/snapshots.inc
Due: none

Dropping the py35 testing
  setup.cfg
Due: manila-rally-multibackend, manila-rally-multibackend-no-ss

Fix tls-proxy issues with the devstack plugin
  devstack/plugin.sh
  playbooks/legacy/manila-tempest-minimal-dsvm-dummy/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-lvm-centos-7/run.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  playbooks/legacy/grenade-dsvm-manila/run.yaml
  playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/run.yaml
  playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/run.yaml
  playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-native/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/run.yaml
  playbooks/legacy/manila-tempest-dsvm-hdfs/run.yaml
  playbooks/legacy/manila-tempest-dsvm-mysql-generic/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-container/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-generic-singlebackend/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-zfsonlinux/run.yaml
  playbooks/legacy/manila-tempest-dsvm-scenario/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-native-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-native/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-nfs-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-nfs/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-dummy/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-lvm/run.yaml
  playbooks/legacy/manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7/run.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend-no-ss/run.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend/run.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/run.yaml
  playbooks/legacy/manila-tempest-dsvm-mysql-generic/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-container/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-generic-singlebackend/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-zfsonlinux/run.yaml
  playbooks/legacy/manila-tempest-dsvm-scenario/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-dummy/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-lvm/run.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  playbooks/legacy/grenade-dsvm-manila/run.yaml
  playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/run.yaml
  playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/run.yaml
  playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-native/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/run.yaml
  playbooks/legacy/manila-tempest-dsvm-hdfs/run.yaml
  playbooks/legacy/manila-tempest-dsvm-mysql-generic/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-container/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-generic-singlebackend/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-zfsonlinux/run.yaml
  playbooks/legacy/manila-tempest-dsvm-scenario/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-native-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-nfs-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-dummy/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-lvm-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7/run.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend-no-ss/run.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend/run.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  playbooks/legacy/grenade-dsvm-manila/run.yaml
  playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/run.yaml
  playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/run.yaml
  playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-native/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/run.yaml
  playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/run.yaml
  playbooks/legacy/manila-tempest-dsvm-hdfs/run.yaml
  playbooks/legacy/manila-tempest-dsvm-mysql-generic/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-container/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-generic-singlebackend/run.yaml
  playbooks/legacy/manila-tempest-dsvm-postgres-zfsonlinux/run.yaml
  playbooks/legacy/manila-tempest-dsvm-scenario/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-native-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-native/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-nfs-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-nfs/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-dummy/run.yaml
  playbooks/legacy/manila-tempest-minimal-dsvm-lvm-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7/run.yaml
  playbooks/legacy/manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7/run.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend-no-ss/run.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend/run.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

[Unity] Update doc for revert to snap support
  doc/source/admin/emc_unity_driver.rst
  doc/source/configuration/shared-file-systems/drivers/dell-emc-unity-driver.rst
Due: none

Fix error print format
  manila/share/drivers/dell_emc/plugins/unity/utils.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

[api-ref] Update JSON samples for scheduler-stats API
  api-ref/source/samples/pools-list-detailed-response.json
  api-ref/source/samples/pools-list-response.json
Due: none

NeutronBindNetworkPlugin: fix multi segment mtu
  manila/network/neutron/neutron_network_plugin.py
  manila/tests/network/neutron/test_neutron_plugin.py
  releasenotes/notes/bug-1822099-fix-multisegment-mtu.yaml-ac2e31c084d8bbb6.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

[CI] Bump timeout for the migrations test case
  manila/tests/db/migrations/alembic/test_migration.py
Due: none

[NetApp] Fix race condition issues on vserver deletion
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_multi_svm.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_multi_svm.py
  releasenotes/notes/bug-1831092-netapp-fix-race-condition-524555133aaa6ca8.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

Update sphinx dependency
  doc/requirements.txt
Due: none

Manila VMAX docs - notification of removal of tags
  doc/source/configuration/shared-file-systems/drivers/dell-emc-vmax-driver.rst
Due: none

Blacklist python-cinderclient 4.0.0
  requirements.txt
Due: manila-rally-multibackend, manila-rally-multibackend-no-ss

Add admin ref for manage/unmanage servers DHSS=True
  doc/source/admin/index.rst
  doc/source/admin/shared-file-systems-manage-and-unmanage-share.rst
  doc/source/admin/shared-file-systems-share-server-management.rst
Due: none

[CI] Run scenario tests in the cephfs-nfs job
  playbooks/legacy/manila-tempest-minimal-dsvm-cephfs-nfs/run.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

Fix typo in Manila docs in manila.rst file
  doc/source/cli/manila.rst
Due: none

Adding documentation for User Messages in Manila Documentation
  doc/source/cli/manila.rst
  doc/source/user/index.rst
  doc/source/user/troubleshooting-asynchronous-failures.rst
Due: none

[CI] Add bindep.txt
  bindep.txt
  tox.ini
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

Manila share driver for Inspur InStorage series.
  doc/source/admin/share_back_ends_feature_support_mapping.rst
  manila/opts.py
  manila/share/drivers/inspur/instorage/__init__.py
  manila/share/drivers/inspur/instorage/cli_helper.py
  manila/share/drivers/inspur/instorage/instorage.py
  manila/tests/conf_fixture.py
  manila/tests/share/drivers/inspur/instorage/__init__.py
  manila/tests/share/drivers/inspur/instorage/test_instorage.py
  releasenotes/notes/inspur-instorage-driver-51d7a67f253f3ecd.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss

Fix an invalid assert state
  manila/tests/share/test_manager.py
Due: none

Check NetApp SnapRestore license for pools
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_base.py
  releasenotes/notes/bug-1678524-check-snaprestore-license-for-snapshot-revert-6d32afdc5d0b2b51.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss
