Repository openstack/manila: changes, and which Zuul jobs are due for each by the changed paths.
All: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Path conditions:
  grenade-dsvm-manila: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-manila-tempest-dsvm-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-container-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-no-share-servers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-mysql-generic: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-container: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-generic-singlebackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-zfsonlinux: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-scenario: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-dummy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-lvm-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  rally-dsvm-manila-multibackend: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^tools/.*$, ^tox.ini$
  rally-dsvm-manila-multibackend-no-ss: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^tools/.*$, ^tox.ini$

Fetch and install manila-tempest-plugin system-wide
  contrib/ci/post_test_hook.sh
  devstack/plugin.sh
  devstack/settings
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Update doc name and path for dell emc vnx and unity driver
  doc/source/configuration/shared-file-systems/drivers.rst
  doc/source/configuration/shared-file-systems/drivers/dell-emc-unity-driver.rst
  doc/source/configuration/shared-file-systems/drivers/dell-emc-vnx-driver.rst
Due: none

Change a parameter key for CIFS mounting command
  manila/share/drivers/huawei/v3/connection.py
  manila/tests/share/drivers/huawei/test_huawei_nas.py
  releasenotes/notes/fix-huawei-driver-cifs-mount-issue-2d7bff5a7e6e3ad6.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Updated from global requirements
  doc/requirements.txt
Due: none

Fix tap device disappear after node restart
  manila/network/linux/interface.py
  manila/share/manager.py
  manila/tests/fake_driver.py
  manila/tests/fake_service_instance.py
  manila/tests/network/linux/test_interface.py
  releasenotes/notes/reset_tap_device_after_node_restart-0690a6beca077b95.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Log config options with oslo.config
  manila/service.py
  releasenotes/notes/use-oslo-logging-for-config-options-388da64bb4ce45db.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Adding driver to mysql connection URL
  doc/source/install/install-share-rdo.rst
Due: none

use http code constant instead of int
  manila/api/openstack/wsgi.py
  manila/api/v1/security_service.py
  manila/api/v1/share_metadata.py
  manila/api/v1/share_servers.py
  manila/api/v1/share_snapshots.py
  manila/api/v1/share_types_extra_specs.py
  manila/api/v1/share_unmanage.py
  manila/api/v1/shares.py
  manila/api/v2/messages.py
  manila/api/v2/quota_sets.py
  manila/api/v2/share_group_snapshots.py
  manila/api/v2/share_group_type_specs.py
  manila/api/v2/share_group_types.py
  manila/api/v2/share_groups.py
  manila/api/v2/share_networks.py
  manila/api/v2/share_replicas.py
  manila/api/v2/share_snapshots.py
  manila/api/v2/share_types.py
  manila/api/v2/shares.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add manila-tempest-plugin as a requirement in rally job definitions
  .zuul.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend-no-ss/run.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend/run.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Update the new PTI for document build
  setup.cfg
Due: rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

add lower-constraints job
  .zuul.yaml
  lower-constraints.txt
  tox.ini
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Updated from global requirements
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
Due: rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Use rest_status_code for api-ref response codes
  api-ref/source/availability-zones.inc
  api-ref/source/extensions.inc
  api-ref/source/limits.inc
  api-ref/source/os-share-manage.inc
  api-ref/source/quota-classes.inc
  api-ref/source/quota-sets.inc
  api-ref/source/scheduler-stats.inc
  api-ref/source/security-services.inc
  api-ref/source/share-actions.inc
  api-ref/source/share-export-locations.inc
  api-ref/source/share-group-snapshots.inc
  api-ref/source/share-group-types.inc
  api-ref/source/share-groups.inc
  api-ref/source/share-instance-export-locations.inc
  api-ref/source/share-instances.inc
  api-ref/source/share-metadata.inc
  api-ref/source/share-migration.inc
  api-ref/source/share-networks.inc
  api-ref/source/share-replicas.inc
  api-ref/source/share-servers.inc
  api-ref/source/share-types.inc
  api-ref/source/shares.inc
  api-ref/source/snapshot-instances.inc
  api-ref/source/snapshots.inc
  api-ref/source/status.yaml
  api-ref/source/user-messages.inc
  api-ref/source/versions.inc
Due: none

Modify grammatical errors
  manila/share/manager.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Disable tempest in rally jobs
  playbooks/legacy/rally-dsvm-manila-multibackend-no-ss/run.yaml
  playbooks/legacy/rally-dsvm-manila-multibackend/run.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Remove the deprecated "giturl" option
  doc/source/conf.py
  doc/source/install/conf.py
Due: none

Fix typos in help text of Generic driver and ZFSSA config opts
  manila/share/drivers/windows/service_instance.py
  manila/share/drivers/zfssa/zfssashare.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Support filter search for share type API
  api-ref/source/parameters.yaml
  api-ref/source/share-types.inc
  manila/api/openstack/api_version_request.py
  manila/api/openstack/rest_api_version_history.rst
  manila/api/v2/share_types.py
  manila/share/share_types.py
  manila/tests/share/test_share_types.py
  releasenotes/notes/add-support-filter-search-for-share-type-fdbaaa9510cc59dd.yaml-5655800975cec5d4.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Updated from global requirements
  requirements.txt
Due: rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Remove option standalone_network_plugin_ip_version
  contrib/ci/pre_test_hook.sh
  manila/network/standalone_network_plugin.py
  releasenotes/notes/remove-standalone-network-plugin-ip-version-440ebcf27ffd22f8.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Circumvent bug #1747721 to prevent CI failures
  devstack/plugin.sh
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Run pep8/fast8 with python3
  tox.ini
Due: none

move securiy service error explanation from comment
  manila/api/v1/security_service.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix allow the use of blank in user group name to access the share
  manila/api/common.py
  manila/tests/api/test_common.py
  manila/tests/api/v1/test_shares.py
  manila/tests/api/v2/test_shares.py
  releasenotes/notes/bug-1733494-allow-user-group-name-with-blank-access-fix-665b3e42bdc985ac.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

NetApp ONTAP: Fix revert-to-snapshot
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_base.py
  releasenotes/notes/bug-1694768-fix-netapp-cdot-revert-to-snapshot-5e1be65260454988.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Update auth_uri option to www_authenticate_uri
  doc/source/install/common/controller-node-common-configuration.rst
  doc/source/install/common/dhss-true-mode-configuration.rst
  doc/source/install/common/share-node-common-configuration.rst
  manila/tests/integrated/api/client.py
Due: none

NetApp ONTAP: Fix share size when creating from snapshot
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_base.py
  releasenotes/notes/bug-1717263-d772366c6a0bce17.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[Tempest] Fix tests for pre-existing share network
  manila_tempest_tests/tests/api/admin/test_share_servers.py
  manila_tempest_tests/tests/api/base.py
  manila_tempest_tests/tests/api/test_share_networks_negative.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

uncap eventlet
  lower-constraints.txt
  requirements.txt
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Remove deprecated DEFAULT options
  doc/source/configuration/tables/manila-generic.inc
  manila/common/client_auth.py
  manila/compute/nova.py
  manila/network/neutron/api.py
  manila/tests/common/test_client_auth.py
  manila/tests/compute/test_nova.py
  manila/tests/network/neutron/test_neutron_api.py
  releasenotes/notes/remove-depreciated-default-options-00fed1238fb6dca0.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Use 'Default' as the value of domain name in install guide
  doc/source/install/common/dhss-true-mode-configuration.rst
Due: none

[Manila Unity] Set unity_server_meta_pool option as required
  doc/source/configuration/shared-file-systems/drivers/dell-emc-unity-driver.rst
  manila/share/drivers/dell_emc/plugins/unity/connection.py
  manila/tests/conf_fixture.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add manila.data.helper options to config sample
  manila/opts.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add ou to security service
  api-ref/source/parameters.yaml
  api-ref/source/samples/security-service-create-response.json
  api-ref/source/samples/security-service-show-response.json
  api-ref/source/samples/security-service-update-request.json
  api-ref/source/samples/security-service-update-response.json
  api-ref/source/samples/security-services-list-detailed-response.json
  api-ref/source/samples/security-services-list-for-share-network-response.json
  api-ref/source/security-services.inc
  manila/api/openstack/api_version_request.py
  manila/api/openstack/rest_api_version_history.rst
  manila/api/views/security_service.py
  manila/db/migrations/alembic/versions/0274d20c560f_add_ou_to_security_service.py
  manila/db/sqlalchemy/models.py
  manila/share/manager.py
  manila/tests/api/v2/test_security_services.py
  manila/tests/db/sqlalchemy/test_api.py
  manila/tests/share/test_manager.py
  releasenotes/notes/bug-1696669-add-ou-to-security-service-06b69615bd417d40.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss
