Repository openstack/manila: changes, and which Zuul jobs are due for each by the changed paths.
All: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Path conditions:
  manila-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-container-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-no-share-servers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-mysql-generic: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-container: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-generic-singlebackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-zfsonlinux: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-scenario: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-dummy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-lvm-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-multibackend: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  manila-rally-multibackend-no-ss: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  manila-rally-no-ss: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-ss: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

remove usage of six library in api layer
  manila/api/common.py
  manila/api/middleware/fault.py
  manila/api/openstack/api_version_request.py
  manila/api/openstack/wsgi.py
  manila/api/v1/limits.py
  manila/api/v1/security_service.py
  manila/api/v1/share_manage.py
  manila/api/v1/share_metadata.py
  manila/api/v1/share_servers.py
  manila/api/v1/share_snapshots.py
  manila/api/v1/share_types_extra_specs.py
  manila/api/v1/share_unmanage.py
  manila/api/v1/shares.py
  manila/api/v2/messages.py
  manila/api/v2/quota_sets.py
  manila/api/v2/share_group_snapshots.py
  manila/api/v2/share_group_type_specs.py
  manila/api/v2/share_group_types.py
  manila/api/v2/share_groups.py
  manila/api/v2/share_instance_export_locations.py
  manila/api/v2/share_network_subnets.py
  manila/api/v2/share_networks.py
  manila/api/v2/share_replica_export_locations.py
  manila/api/v2/share_replicas.py
  manila/api/v2/share_servers.py
  manila/api/v2/share_snapshots.py
  manila/api/v2/share_types.py
  manila/api/v2/shares.py
  manila/api/views/versions.py
  manila/tests/api/v2/test_share_types.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Set tempest api version config in devstack plugin
  contrib/ci/post_test_hook.sh
  devstack/plugin.sh
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Add enforce_scope setting support for Manila
  devstack/plugin.sh
  devstack/settings
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

ratelimit should not be enabled in nolimit pipeline
  doc/source/admin/shared-file-systems-quotas.rst
Due: none

Force delete and multi xena (#25)
  manila/share/drivers/netapp/dataontap/client/client_cmode.py
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
  manila/share/manager.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_base.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Fix _get_provisioning_options_for_share() got an unexpected keyword
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

early return for _share_replica_update() if there is no active replica
  manila/share/manager.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Handle successful deletion of snapshot if quota commit fails
  manila/share/api.py
  manila/tests/share/test_api.py
  releasenotes/notes/bug-1475351-handle-successful-deletion-of-snapshot-if-quota-commit-fails-4d150bf0b71a2fd9.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

OnlyHostFilter allows user to specify host during share create.
  api-ref/source/parameters.yaml
  manila/api/openstack/api_version_request.py
  manila/api/openstack/rest_api_version_history.rst
  manila/api/v2/shares.py
  manila/scheduler/drivers/filter.py
  manila/scheduler/filters/host.py
  manila/scheduler/host_manager.py
  manila/share/api.py
  manila/tests/scheduler/filters/test_host.py
  manila/tests/share/test_api.py
  releasenotes/notes/hostonly-filter-1a17a70dd0aafb86.yaml
  setup.cfg
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

api-ref: Add share instances by share endpoint
  api-ref/source/samples/share-instances-list-response.json
  api-ref/source/share-instances.inc
  api-ref/source/shares.inc
Due: none

Don't run periodic_share_replica_update() on active replicas
  manila/share/manager.py
  releasenotes/notes/bug-1924230-skip-periodic-task-for-active-replica-030a982af92f8a62.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Fix note in the share manager
  manila/share/manager.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Force disk wipe when running lvcreate
  manila/share/drivers/lvm.py
  manila/tests/share/drivers/test_lvm.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

ccloud workaround for https://bugs.launchpad.net/manila/+bug/1918845
  manila/share/manager.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Configure correct Tempest venv upper constraints
  contrib/ci/post_test_hook.sh
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Add admin only keys to share metadata
  manila/api/openstack/api_version_request.py
  manila/api/openstack/rest_api_version_history.rst
  manila/api/v1/share_metadata.py
  manila/common/constants.py
  manila/policies/shares.py
  manila/share/api.py
  manila/tests/api/v1/test_share_metadata.py
  releasenotes/notes/add-admin-only-keys-to-share-metadata-5301424ccd9edf8a.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

handle replica state on migration complete
  manila/share/manager.py
  manila/tests/share/test_manager.py
  releasenotes/notes/bug-1927060-fix-replica-state-on-migration-complete-4fb4d8ba59b58505.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Update admin, user and contributor guide
  doc/source/admin/shared-file-systems-share-networks.rst
  doc/source/contributor/driver_requirements.rst
  doc/source/user/share-network-operations.rst
Due: none

Nova: Remove non-existing methods from fake class
  manila/tests/fake_compute.py
Due: none

Cinder: Remove unused API
  manila/volume/cinder.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Modify docker instalation for fedora systems
  devstack/plugin.sh
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Adapt CephFS driver to do not try to escape export ip
  manila/share/drivers/cephfs/driver.py
  releasenotes/notes/cephfs-fix-export-ip-escaping-on-hostname-e2866be32a8f5e38.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

[DOC] Incorrect response code for share network creation
  api-ref/source/share-network-subnets.inc
Due: none

ccloud: add security service association for multi
  manila/share/drivers/netapp/dataontap/cluster_mode/drv_multi_svm.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

remove travis-ci config
  .travis.yml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Use tox 3.1.1 fixes
  tox.ini
Due: none

add python-agentliveness to custom req
  custom-requirements.txt
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

Add Python 3 only classifier
  setup.cfg
Due: manila-rally-multibackend, manila-rally-multibackend-no-ss

Add temporary link to patched paramiko
  manila/utils.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss

remove usage of six library
  lower-constraints.txt
  manila/coordination.py
  manila/exception.py
  manila/quota.py
  manila/share/access.py
  manila/share/api.py
  manila/share/driver.py
  manila/share/drivers/generic.py
  manila/share/drivers/helpers.py
  manila/share/drivers/lvm.py
  manila/share/drivers/service_instance.py
  manila/share/drivers_private_data.py
  manila/share/hook.py
  manila/share/manager.py
  manila/share/share_types.py
  manila/share_group/api.py
  manila/volume/cinder.py
  requirements.txt
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-rally-no-ss, manila-rally-ss
