Repository openstack/manila: changes, and which Zuul jobs are due for each by the changed paths.
All: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Path conditions:
  manila-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-container-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-no-share-servers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-mysql-generic: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-container: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-generic-singlebackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-zfsonlinux: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-scenario: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-dummy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-lvm-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-multibackend: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  manila-rally-multibackend-no-ss: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  manila-grenade-skip-level-always: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-no-ss: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-ss: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Don't override nfs protocols w/ CephFS
  manila/share/drivers/cephfs/driver.py
  manila/tests/share/drivers/cephfs/test_driver.py
  releasenotes/notes/bug-2099273-stop-overriding-cephfs-nfs-protocols-cf7e3949f688ad6f.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Fix access rule visibility locks
  manila/api/v1/shares.py
  manila/api/v2/share_accesses.py
  manila/tests/api/v1/test_shares.py
  manila/tests/lock/test_api.py
  releasenotes/notes/bug-2089061-fix-access-rules-locks-lookup-b5efbd41397acba3.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Updated documentation to openstack commands
  doc/source/admin/shared-file-systems-quotas.rst
Due: none

api: Combine versioned API resources
  manila/api/v2/messages.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Add new manila.wsgi module
  devstack/plugin.sh
  devstack/settings
  manila/wsgi/api.py
  releasenotes/notes/add-manila-wsgi-module-ad9bb910f7f3b816.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

NetApp: Fix export location during replica promote
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_base.py
  releasenotes/notes/netapp-fix-export-location-for-readable-replica-promote-8e0c4be5f1966e53.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

updated share group type doc
  doc/source/admin/shared-file-systems-share-group-types.rst
Due: none

Fix NFS-Ganesha crashes when updating CephFS access rules
  manila/share/drivers/cephfs/driver.py
  manila/tests/share/drivers/cephfs/test_driver.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Remove installation guide for openSUSE/SLES
  doc/source/admin/hitachi_hnas_driver.rst
  doc/source/configuration/shared-file-systems/log-files.rst
  doc/source/contributor/apache-httpd.rst
  doc/source/install/install-controller-node.rst
  doc/source/install/install-controller-obs.rst
  doc/source/install/install-share-node.rst
  doc/source/install/install-share-obs.rst
Due: none

Add pyproject.toml
  pyproject.toml
  setup.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

setup: Remove pbr's wsgi_scripts
  releasenotes/notes/remove-manila-wsgi-script-07f9a4d00a165f4c.yaml
  setup.cfg
Due: manila-rally-multibackend, manila-rally-multibackend-no-ss

devstack: Remove MANILA_USE_MOD_WSGI
  devstack/plugin.sh
  devstack/settings
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

devstack: Remove MANILA_USE_UWSGI
  devstack/plugin.sh
  devstack/settings
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

[DOC] Update Ceph Testing Matrix
  doc/source/configuration/shared-file-systems/drivers/cephfs_driver.rst
Due: none

improve db calls in periodic replica tasks
  manila/share/manager.py
  manila/tests/share/test_manager.py
  releasenotes/notes/bug-2008497-speed-up-replica-snapshots-create-request-6facee90320fecca.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

NetApp: delete vlan even if ipspace is reused
  manila/share/drivers/netapp/dataontap/client/client_cmode.py
  manila/share/drivers/netapp/dataontap/client/client_cmode_rest.py
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_multi_svm.py
  manila/tests/share/drivers/netapp/dataontap/client/fakes.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode_rest.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_multi_svm.py
  releasenotes/notes/bug-2097522-netapp-delete-vlan-even-if-ipspace-is-reused-5bc8b49ad6f91eb7.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

[doc] Update the "lock_visibility" description in the POST grant access API
  api-ref/source/parameters.yaml
Due: none

NetApp cDOT only modify qos policy if troughput changed
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_base.py
  releasenotes/notes/netapp-bug-2061976-only-modify-qos-policy-if-troughput-changed-ce1b56a3bb3c3d78.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Make grenade skip level job non-voting temporarily
  zuul.d/project.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Allow clean service shutdown
  manila/service.py
  releasenotes/notes/bug-2089534-dont-fail-stop-if-service-doesnt-exist-68448b4d775a2b1e.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Netapp: Removes stanza check
  manila/share/drivers/netapp/dataontap/cluster_mode/data_motion.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_data_motion.py
  releasenotes/notes/bug-2012742-remove-stanza-check-from-netapp-driver-code.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Fix to create share group when only share properties are provided in filter function
  manila/scheduler/filters/driver.py
  manila/tests/scheduler/filters/test_driver.py
  releasenotes/notes/fix-powerstore-create-sharegroup-2110487-eafadb6088312140.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

add guard to qualified_replica
  manila/db/sqlalchemy/models.py
  releasenotes/notes/bug-2114260-Add-guard-to-qualified_replica-e02bd4b21acee803.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

NetApp: Fix vserver create REST API
  manila/share/drivers/netapp/dataontap/client/client_cmode_rest.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode_rest.py
  releasenotes/notes/bug-2111918-netapp-fix-rentention-period-rest-api-e73b358ccc6e7b37.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Drop unused imports
  manila/opts.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

[NetApp] guard already existing cifs access
  manila/share/drivers/netapp/dataontap/client/client_cmode.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode.py
  releasenotes/notes/bug-2114969-netapp-guard-already-existing-cifs-access-df01145c6782e880.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Remove Python 3.9 support
  releasenotes/notes/remove-py39-dec4a09ae03e3583.yaml
  setup.cfg
Due: manila-rally-multibackend, manila-rally-multibackend-no-ss

api: Add Schemas for share export locations
  manila/api/schemas/share_export_locations.py
  manila/api/v2/share_export_locations.py
  manila/api/validation/parameter_types.py
  manila/tests/api/v2/test_share_export_locations.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Replace deprecated assertItemsEqual
  manila/tests/share_group/test_share_group_types.py
Due: none

sqlalchemy: Use built-in declarative
  manila/db/sqlalchemy/models.py
  requirements.txt
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Fix: escape special characters in name~ filter for literal search
  manila/db/sqlalchemy/api.py
  manila/tests/db/sqlalchemy/test_api.py
  releasenotes/notes/bug-2089634-fix-like-search-option-name-f06d8a50163070bf.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Dell Unity: Fix driver startup issue with LACP configured
  manila/share/drivers/dell_emc/plugins/unity/connection.py
  manila/share/drivers/dell_emc/plugins/unity/utils.py
  manila/tests/share/drivers/dell_emc/plugins/unity/test_utils.py
  releasenotes/notes/bug-2020745-dell-unity-lacp-8653da49ad901c5c.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

os-api-ref is only a doc requirement
  test-requirements.txt
Due: manila-rally-multibackend, manila-rally-multibackend-no-ss
