Repository openstack/manila: changes, and which Zuul jobs are due for each by the changed paths.
All: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

manila-grenade:
  parent: legacy-dsvm-base
  run: playbooks/legacy/grenade-dsvm-manila/run.yaml
  post-run: playbooks/legacy/grenade-dsvm-manila/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/manila
  - openstack/python-manilaclient
  ...

manila-tempest-base:
  parent: legacy-dsvm-base
  timeout: 7200

manila-tempest-dsvm-container-scenario-custom-image:
  parent: manila-tempest-base
  run: playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/run.yaml
  post-run: playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/post.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  ...

manila-tempest-dsvm-generic-no-share-servers:
  parent: manila-tempest-base
  run: playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/run.yaml
  post-run: playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/post.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  - openstack/manila-image-elements
  ...

manila-tempest-dsvm-generic-scenario-custom-image:
  parent: manila-tempest-base
  run: playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/run.yaml
  post-run: playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/post.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  - openstack/manila-image-elements
  ...

manila-tempest-dsvm-glusterfs-native:
  parent: manila-tempest-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native/run.yaml
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native/post.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-native-heketi:
  parent: manila-tempest-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/run.yaml
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/post.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-nfs:
  parent: manila-tempest-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/run.yaml
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/post.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-nfs-heketi:
  parent: manila-tempest-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/run.yaml
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/post.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  - openstack/manila
  ...

Fix access rule visibility locks
  manila/api/v1/shares.py
  manila/api/v2/share_accesses.py
  manila/tests/api/v1/test_shares.py
  manila/tests/lock/test_api.py
  releasenotes/notes/bug-2089061-fix-access-rules-locks-lookup-b5efbd41397acba3.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Drop duplicate hacking check of thrid party mock
  HACKING.rst
  manila/tests/hacking/checks.py
  manila/tests/test_hacking.py
  tox.ini
Due: none

Add periodic task that detects down services
  manila/scheduler/manager.py
  manila/tests/scheduler/test_manager.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

updated VAST driver documentation
  doc/source/configuration/shared-file-systems/drivers/vastdata_driver.rst
  doc/source/configuration/tables/manila-vastdata.inc
Due: none

Make default mount point prefix configurable, and allow empty prefix
  manila/share/api.py
  manila/share/share_types.py
  manila/tests/share/test_api.py
  releasenotes/notes/bug-2064907-allow-empty-mount-point-prefix.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

vast: return all available export locations
  manila/share/drivers/vastdata/driver.py
  manila/tests/share/drivers/vastdata/test_driver.py
  releasenotes/notes/bug-2088269-vast-add-multiple-export-locations-39243a9091c145f9.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Replace deprecated FormatChecker.cls_checks
  manila/api/validation/validators.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

fix manila to use device uuid instead of name for mounting
  manila/share/drivers/generic.py
  manila/tests/share/drivers/test_generic.py
  releasenotes/notes/fix-generic-driver-using-uuid-to-mount-volumes-291208b283120224.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Add exception handling to share server deletion
  manila/share/manager.py
  manila/tests/share/test_manager.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

reno: Update master for unmaintained/2023.1
  releasenotes/source/2023.1.rst
Due: none

Improve get all instances with share data
  manila/db/sqlalchemy/api.py
  manila/db/sqlalchemy/models.py
  manila/tests/db/sqlalchemy/test_api.py
  releasenotes/notes/bug-2084783-improve-get-all-instances-with-share-data-f217df37bac9b647.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Updates the share extend and shrink documentation
  doc/source/admin/shared-file-systems-share-resize.rst
Due: none

[Netapp] make deleted volume retention period configurable
  manila/share/drivers/netapp/dataontap/client/client_cmode.py
  manila/share/drivers/netapp/dataontap/client/client_cmode_rest.py
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_multi_svm.py
  manila/share/drivers/netapp/options.py
  manila/share/manager.py
  manila/tests/share/drivers/netapp/dataontap/client/fakes.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode_rest.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_multi_svm.py
  manila/tests/share/drivers/netapp/dataontap/fakes.py
  manila/tests/share/test_manager.py
  releasenotes/notes/bug-2085112-netapp-make-deleted-volumes-retention-period-configurable-403ec227f256e24b.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Add new policy `list_all_projects` for share/share-snapshot
  manila/policies/share_snapshot.py
  manila/policies/shares.py
  manila/share/api.py
  manila/tests/share/test_api.py
  releasenotes/notes/bug-2084532-add-new-policy-list-all-project-for-shares-and-snapshots-0b02bea6e121c6a2.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Update cephfs driver to return provision capacity
  manila/share/drivers/cephfs/driver.py
  manila/tests/share/drivers/cephfs/test_driver.py
  releasenotes/notes/bug-2049538-cephfs-driver-return-allocated-gb-6ecf908dae8f369d.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Dell EMC: Refactor redundant if-elas block
  manila/share/drivers/dell_emc/driver.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

doc: Use dnf instead of yum
  doc/source/contributor/apache-httpd.rst
  doc/source/contributor/development.environment.rst
  doc/source/install/install-controller-rdo.rst
  doc/source/install/install-share-rdo.rst
Due: none

Support nova api 2.47 and newer
  manila/compute/nova.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Deprecate options used solely by Ceph NFSProtocolHelper
  manila/share/drivers/cephfs/driver.py
  releasenotes/notes/deprecate-ceph-nfs-protocol-helper-options-bacaf4565478e38f.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Adapt to nova api 2.89 and skip some cinder calls
  manila/compute/nova.py
  manila/share/drivers/generic.py
  manila/tests/compute/test_nova.py
  manila/tests/share/drivers/test_generic.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

purestorage: Drop unused HAS_PURITY_FB flag
  manila/share/drivers/purestorage/flashblade.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Improve scheduler performance on thin provisioning
  manila/db/api.py
  manila/db/sqlalchemy/api.py
  manila/scheduler/host_manager.py
  manila/tests/db/sqlalchemy/test_api.py
  manila/tests/scheduler/test_host_manager.py
  releasenotes/notes/bug-2020187-scheduler-performance-2edc4c706b2fea2f.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Allow providing mount_point_name when creating volume from snapshot in NetApp driver
  manila/share/drivers/netapp/dataontap/client/client_cmode.py
  manila/share/drivers/netapp/dataontap/client/client_cmode_rest.py
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode_rest.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_base.py
  releasenotes/notes/bug-2096656-fix-netapp-create-share-from-snapshot-with-mount-point-name.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Allow filtering shares on mount_point_name property
  manila/api/v1/shares.py
  manila/db/sqlalchemy/api.py
  manila/share/api.py
  releasenotes/notes/bug-2089826-allow-filtering-shares-on-mount-point-name.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Drop broken manila-all script
  setup.cfg
Due: manila-rally-multibackend, manila-rally-multibackend-no-ss

Drop duplicated choices
  manila/share/drivers/nexenta/options.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

[cephfs] Fix access rule update
  manila/share/drivers/cephfs/driver.py
  manila/tests/share/drivers/cephfs/test_driver.py
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Skip installation to speed up pep8
  tox.ini
Due: none

Drop redundant pep8 scripts
  tools/check_exec.py
  tools/check_logging.sh
  tox.ini
Due: none

[doc] grant access rule response code
  api-ref/source/share-actions.inc
Due: none

Ignore not found exception during port delete
  manila/network/neutron/api.py
  manila/tests/network/neutron/test_neutron_api.py
  releasenotes/notes/bug-2098083-Pass-on-port-delete-not-found-error-5acafa7a7810a210.yaml
Due: manila-grenade, manila-tempest-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-native, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, manila-rally-multibackend, manila-rally-multibackend-no-ss, manila-grenade-skip-level-always, manila-rally-no-ss, manila-rally-ss

Path conditions:
  manila-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-container-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-no-share-servers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-mysql-generic: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-container: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-generic-singlebackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-zfsonlinux: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-scenario: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-dummy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-lvm-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-multibackend: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  manila-rally-multibackend-no-ss: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$
  manila-grenade-skip-level-always: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-no-ss: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-rally-ss: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
